
.grid-container{
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px;
    gap: 32px;
}

.card{
    border: 1px solid black;
}

.sales-graph{
    border: 1px solid black;
}

.order-list{
    border: 1px solid black;
}