@media print {

    .products-list th:first-child,
    .products-list td:first-child {
    display: none;
  }

    body {
      font-family: monospace;
      margin: 0;
      padding: 10px;
    }
    
    
    .hide-on-print {
      display: none;
    }
    
    .order-details {
      margin-bottom: 10px;
    }
    
    .order-details span {
      font-weight: bold;
    }
    
    .order-details .grid-item {
      display: inline-block;
      width: 48%;
    }
    
    .products-list {
      margin-top: 10px;
    }
    
    .products-list th,
    .products-list td {
      padding: 5px;
    }
    
    .products-list th {
      font-weight: bold;
    }

  }
  